* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: min(1024px, 95%);
    margin: 0 auto;
}

.zoekVoegKlantToeDiv {
    display: flex;
    justify-content: space-between;

    margin-top: 15px;

    form {
        display: flex;
        gap: 10px
    }

    form input {
        padding: 5px;
        border-radius: 1rem;
    }
}

.login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 50px auto;

    input {
        padding: 10px;
        border-radius: 1em;
        border: 1px solid black;
    }
}

.button {
    padding: 10px;
    border-radius: 1em;
    background-color: rgb(205, 205, 205);
    text-decoration: none;
    color: black;
}

header {
    padding-bottom: 15px;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 10px 0px 30px 0px;
    width: 100%;

    td {
        padding: 5px
    }
}

nav {
    padding: 10px;
    height: 100%;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    gap: 15px;
}

nav ul a {
    padding: 10px;
    border-radius: 1em;
    background-color: rgb(205, 205, 205);
    text-decoration: none;
    color: black;
}